@mixin center-section($padding: 2rem, $text-align: center) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $padding;
    text-align: $text-align;
}